In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [5]:
spark.read.option('header','true').csv('C:\\Users\\prana\\Documents\\Python data\\Book12.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [6]:
df_pyspark = spark.read.option('header','true').csv('C:\\Users\\prana\\Documents\\Python data\\Book12.csv')

In [7]:
df_pyspark = spark.read.option('header','true').csv('C:\\Users\\prana\\Documents\\Python data\\Book12.csv',inferSchema=True)

In [8]:
# Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [9]:
df_pyspark = spark.read.csv('C:\\Users\\prana\\Documents\\Python data\\Book12.csv',header=True, inferSchema=True)

In [10]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [14]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [15]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [16]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

In [17]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.select(['Name', 'Experience'])

DataFrame[Name: string, Experience: int]

In [19]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [20]:
df_pyspark['Name']

Column<'Name'>

In [21]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [22]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [23]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [24]:
# Adding columns in data frame
df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

DataFrame[Name: string, Age: int, Experience: int, Experience after 2 years: int]

In [25]:
df_pyspark = df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [26]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience after 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         8|                      10|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [27]:
#drop the column
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [28]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [29]:
#Rename the columns
df_pyspark = df_pyspark.withColumnRenamed('Name','New Name')

In [30]:
df_pyspark.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+