In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
spark

In [ ]:
spark.read.option('header','true').csv('C:\\Users\\prana\\Documents\\Python data\\Book12.csv')

In [ ]:
df_pyspark = spark.read.csv('C:\\Users\\prana\\Documents\\Python data\\Book12.csv',header=True, inferSchema=True)

In [ ]:
df_pyspark.show()

In [ ]:
#Drop the columns
df_pyspark.drop('Name').show()

In [ ]:
df_pyspark.show()

In [ ]:
df_pyspark.na.drop().show()

In [ ]:
# any = how
df_pyspark.na.drop(how='all').show() #it will be only applied when all 4 columns are null but here in case of Mahesh there is name and salary

In [ ]:
#any
df_pyspark.na.drop(how='any').show()

In [ ]:
#Threshold
df_pyspark.na.drop(how='any', thresh=2).show() #thresh = 2 means in a row atleast 2 non-null values should be there

In [ ]:
df_pyspark.na.drop(how='any', thresh=3).show() #thresh = 3 means in a row atleast 3 non-null values should be there

In [ ]:
df_pyspark.na.drop(how='any', subset=['Experience']).show() # Want to delete null values from Experience

In [ ]:
#Filling the missing values
df_pyspark.na.fill('Missing Values').show()