<a href="https://colab.research.google.com/github/Pranayshukla0610/spark/blob/main/Spark_SQL_Google_Colab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("name").getOrCreate()

In [ ]:
w = spark.read.format('csv')\
.option('header','True').option('inferschema','True').option('mode','failfast').load('/content/Worker.csv')

In [ ]:
p = spark.read.format('csv')\
.option('header','True').option('inferschema','True').option('mode','failfast').load('/content/Projects.csv')

In [ ]:
p.createOrReplaceTempView("projects")

In [ ]:
spark.sql('select * from projects').show()

+----------+---------+----------------+
|Project_ID|Worker_ID|    Project_Name|
+----------+---------+----------------+
|         1|        1|      Task_Track|
|         2|        1|             CLP|
|         3|        2|        Printing|
|         4|        3|             GRS|
|         5|        3|             DDS|
|         6|        3|             KIO|
|         7|        4|             KPI|
|         8|        4|             HRM|
|         9|        5|   AO Management|
|        10|        5|  KPI Management|
|        11|        5|           CRSIM|
|        12|        5|         CRISP R|
|        13|        7|    Carbon Print|
|        14|       10|             CCI|
|        15|       11|            SSCE|
|        16|       11|          LAMBDA|
|        17|       11|           KIIEN|
|        18|       13|           KIO P|
|        19|       16|FASTRACT ACCOUNT|
|      NULL|     NULL|            NULL|
+----------+---------+----------------+

In [ ]:
w.createOrReplaceTempView('worker')
p.createOrReplaceTempView('projects')

In [ ]:
spark.sql('select * from worker').show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

In [ ]:
w.select('*').show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

In [ ]:
spark.sql('select first_name, last_name from worker').show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|    Monika|    Arora|
|  Niharika|    Verma|
|    Vishal|  Singhal|
|   Amitabh|    Singh|
|     Vivek|    Bhati|
|     Vipul|    Diwan|
|    Satish|    Kumar|
|   Geetika|  Chauhan|
|     Ashok|  chandra|
|    Nitin |    Kumar|
|   Pushkar|    Sinha|
|  Shantanu|      Lal|
|     Rohan|   Tiwari|
|  Jitendra|    Yadav|
|     Kapil|      Dev|
+----------+---------+

In [ ]:
w.select('first_name','last_name').show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|    Monika|    Arora|
|  Niharika|    Verma|
|    Vishal|  Singhal|
|   Amitabh|    Singh|
|     Vivek|    Bhati|
|     Vipul|    Diwan|
|    Satish|    Kumar|
|   Geetika|  Chauhan|
|     Ashok|  chandra|
|    Nitin |    Kumar|
|   Pushkar|    Sinha|
|  Shantanu|      Lal|
|     Rohan|   Tiwari|
|  Jitendra|    Yadav|
|     Kapil|      Dev|
+----------+---------+

In [ ]:
#where
spark.sql('select * from worker where salary > 15000').show()
w.where('salary>15000').show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

In [ ]:
from pyspark.sql.functions import col
w.where(col('SALARY')>15000).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

In [ ]:
w.where(w.SALARY>15000).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

In [ ]:
#and ,or
#hr dept and salary>15000

spark.sql("SELECT * FROM worker WHERE department='HR' AND salary > 15000").show()
w.where((col('DEPARTMENT')=='HR') & (col('SALARY')>15000)).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
+---------+----------+---------+------+------------+----------+

In [ ]:
from pyspark.sql.functions import *

In [ ]:
#HR DEPT ~= 15000

w.where((col('DEPARTMENT')=="HR") &~(col('SALARY')>15000)).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
+---------+----------+---------+------+------------+----------+

In [ ]:
w.where(~(col('DEPARTMENT')=="HR") &~(col('SALARY')==15000)).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

In [ ]:
#whose first_name start with A
w.where('FIRST_NAME like "A%"').show()
w.where(w.FIRST_NAME.startswith("A")).show()
w.where(col('FIRST_NAME').startswith("A")).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
+---------+----------+---------+------+------------+----------+

In [ ]:
#endswith, contain
#first name end with A

w.where('FIRST_NAME like "%a"').show()
w.where(w.FIRST_NAME.endswith("a")).show()
w.where(col('FIRST_NAME').endswith("a")).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
+---------+----------+---------+------+------------+----------+

In [ ]:
#group by
#agg

w.groupBy('DEPARTMENT').agg(sum('SALARY').alias('total_salary')).show()

+----------+------------+
|DEPARTMENT|total_salary|
+----------+------------+
|        HR|      865000|
|     Admin|     1960000|
|   Account|     1255000|
+----------+------------+

In [ ]:
#orderby
w.groupBy('DEPARTMENT').agg(sum('SALARY').alias('total_salary')).orderBy(col('total_salary').desc()).show()

+----------+------------+
|DEPARTMENT|total_salary|
+----------+------------+
|     Admin|     1960000|
|   Account|     1255000|
|        HR|      865000|
+----------+------------+

In [ ]:
#department whose total >
w.groupBy('DEPARTMENT') \
    .agg(sum('SALARY').alias('total_salary')) \
    .where(col('total_salary') > 900000) \
    .orderBy(col('total_salary').desc()) \
    .show()

+----------+------------+
|DEPARTMENT|total_salary|
+----------+------------+
|     Admin|     1960000|
|   Account|     1255000|
+----------+------------+

In [ ]:
#worker belong to HR or admin
w.where((w.DEPARTMENT == 'HR') | (w.DEPARTMENT == 'ADMIN')).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
+---------+----------+---------+------+------------+----------+

In [ ]:
w.groupBy('DEPARTMENT').agg(sum('SALARY').alias('Total'))\
.where(col('Total')>200000).show()

+----------+-------+
|DEPARTMENT|  Total|
+----------+-------+
|        HR| 865000|
|     Admin|1960000|
|   Account|1255000|
+----------+-------+

In [ ]:
#order by
w.orderBy(col('SALARY').desc()).show()
w.orderBy(desc('SALARY')).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
+---------+----------+---------+------+------------+----------+

In [ ]:
#top 2 salary
w.orderBy(col('SALARY').desc()).limit(2).show()
w.orderBy(desc('SALARY')).limit(2).show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
+---------+----------+---------+------+------------+----------+

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
+---------+----------+---------+------+------------+----------+

In [ ]:
#new column -- new_salary where all salary should increase by 100
w.withColumn('new_salary',col('SALARY')+100).show()

+---------+----------+---------+------+------------+----------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|new_salary|
+---------+----------+---------+------+------------+----------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|    100100|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|     80100|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|    300100|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|    500100|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|    500100|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|    200100|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|     75100|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|     90100|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|    200100|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|     15100|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|     90100|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|    180100|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|    600100|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|    450100|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|    700100|
+---------+----------+---------+------+------------+----------+----------+

In [ ]:
#joins -- inner join
result = w.join(p, w["WORKER_ID"] == p["WORKER_ID"], "inner")
result.show()

+---------+----------+---------+------+------------+----------+----------+---------+--------------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|Project_ID|Worker_ID|  Project_Name|
+---------+----------+---------+------+------------+----------+----------+---------+--------------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         2|        1|           CLP|
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         1|        1|    Task_Track|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|         3|        2|      Printing|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         6|        3|           KIO|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         5|        3|           DDS|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         4|        3|           GRS|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         8|        4|           HRM|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         7|        4|           KPI|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        12|        5|       CRISP R|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        11|        5|         CRSIM|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        10|        5|KPI Management|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|         9|        5| AO Management|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|        13|        7|  Carbon Print|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|        14|       10|           CCI|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        17|       11|         KIIEN|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        16|       11|        LAMBDA|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        15|       11|          SSCE|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|        18|       13|         KIO P|
+---------+----------+---------+------+------------+----------+----------+---------+--------------+

In [ ]:
#worker name and project name, they are working on and salary > 500000
w.join(p, w["WORKER_ID"] == p["WORKER_ID"], "inner")\
.where ('salary>50000')\
.select('FIRST_NAME','PROJECT_NAME').show()

+----------+--------------+
|FIRST_NAME|  PROJECT_NAME|
+----------+--------------+
|    Monika|           CLP|
|    Monika|    Task_Track|
|  Niharika|      Printing|
|    Vishal|           KIO|
|    Vishal|           DDS|
|    Vishal|           GRS|
|   Amitabh|           HRM|
|   Amitabh|           KPI|
|     Vivek|       CRISP R|
|     Vivek|         CRSIM|
|     Vivek|KPI Management|
|     Vivek| AO Management|
|    Satish|  Carbon Print|
|   Pushkar|         KIIEN|
|   Pushkar|        LAMBDA|
|   Pushkar|          SSCE|
|     Rohan|         KIO P|
+----------+--------------+

In [ ]:
#Left Join
w.join(p,w["WORKER_ID"]==p["WORKER_ID"],"left").show()

+---------+----------+---------+------+------------+----------+----------+---------+--------------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|Project_ID|Worker_ID|  Project_Name|
+---------+----------+---------+------+------------+----------+----------+---------+--------------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         2|        1|           CLP|
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         1|        1|    Task_Track|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|         3|        2|      Printing|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         6|        3|           KIO|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         5|        3|           DDS|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         4|        3|           GRS|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         8|        4|           HRM|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         7|        4|           KPI|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        12|        5|       CRISP R|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        11|        5|         CRSIM|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        10|        5|KPI Management|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|         9|        5| AO Management|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|      NULL|     NULL|          NULL|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|        13|        7|  Carbon Print|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|      NULL|     NULL|          NULL|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|      NULL|     NULL|          NULL|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|        14|       10|           CCI|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        17|       11|         KIIEN|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        16|       11|        LAMBDA|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        15|       11|          SSCE|
+---------+----------+---------+------+------------+----------+----------+---------+--------------+
only showing top 20 rows

In [ ]:
#leftanti -- remaining records from left table which are not common
w.join(p,w['WORKER_ID']==p['WORKER_ID'],'leftanti').show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|       12|  Shantanu|      Lal|180000|  2014-04-11|   Account|
|       14|  Jitendra|    Yadav|450000|  2014-09-18|        HR|
|       15|     Kapil|      Dev|700000|  2014-09-10|     Admin|
+---------+----------+---------+------+------------+----------+

In [ ]:
w.join(p,w['WORKER_ID']==p['WORKER_ID'],'leftsemi').show()

+---------+----------+---------+------+------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+------------+----------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|
+---------+----------+---------+------+------------+----------+

In [ ]:
#right join
#all the worker and project name, if they have any else keep it null
p.join(w,w['WORKER_ID']==p['WORKER_ID'],'right').show()
w.join(p,w['WORKER_ID']==p['WORKER_ID'],'right').show()

+----------+---------+--------------+---------+----------+---------+------+------------+----------+
|Project_ID|Worker_ID|  Project_Name|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|
+----------+---------+--------------+---------+----------+---------+------+------------+----------+
|         2|        1|           CLP|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|         1|        1|    Task_Track|        1|    Monika|    Arora|100000|  2014-02-10|        HR|
|         3|        2|      Printing|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|
|         6|        3|           KIO|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|         5|        3|           DDS|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|         4|        3|           GRS|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|
|         8|        4|           HRM|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|         7|        4|           KPI|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|
|        12|        5|       CRISP R|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        11|        5|         CRSIM|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|        10|        5|KPI Management|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|         9|        5| AO Management|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|
|      NULL|     NULL|          NULL|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|
|        13|        7|  Carbon Print|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|
|      NULL|     NULL|          NULL|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|
|      NULL|     NULL|          NULL|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|
|        14|       10|           CCI|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|
|        17|       11|         KIIEN|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|        16|       11|        LAMBDA|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
|        15|       11|          SSCE|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|
+----------+---------+--------------+---------+----------+---------+------+------------+----------+
only showing top 20 rows

+---------+----------+---------+------+------------+----------+----------+---------+----------------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|Project_ID|Worker_ID|    Project_Name|
+---------+----------+---------+------+------------+----------+----------+---------+----------------+
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         1|        1|      Task_Track|
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         2|        1|             CLP|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|         3|        2|        Printing|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         4|        3|             GRS|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         5|        3|             DDS|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         6|        3|             KIO|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         7|        4|             KPI|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         8|        4|             HRM|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|         9|        5|   AO Management|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        10|        5|  KPI Management|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        11|        5|           CRSIM|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        12|        5|         CRISP R|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|        13|        7|    Carbon Print|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|        14|       10|             CCI|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        15|       11|            SSCE|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        16|       11|          LAMBDA|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        17|       11|           KIIEN|
|       13|     Rohan|   Tiwari|600000|  2014-06-12|   Account|        18|       13|           KIO P|
|     NULL|      NULL|     NULL|  NULL|        NULL|      NULL|        19|       16|FASTRACT ACCOUNT|
|     NULL|      NULL|     NULL|  NULL|        NULL|      NULL|      NULL|     NULL|            NULL|
+---------+----------+---------+------+------------+----------+----------+---------+----------------+

In [ ]:
#full
w.join(p,w['WORKER_ID']==p['WORKER_ID'],'full').show()

+---------+----------+---------+------+------------+----------+----------+---------+--------------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|JOINING_DATE|DEPARTMENT|Project_ID|Worker_ID|  Project_Name|
+---------+----------+---------+------+------------+----------+----------+---------+--------------+
|     NULL|      NULL|     NULL|  NULL|        NULL|      NULL|      NULL|     NULL|          NULL|
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         1|        1|    Task_Track|
|        1|    Monika|    Arora|100000|  2014-02-10|        HR|         2|        1|           CLP|
|        2|  Niharika|    Verma| 80000|  2014-06-11|     Admin|         3|        2|      Printing|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         4|        3|           GRS|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         5|        3|           DDS|
|        3|    Vishal|  Singhal|300000|  2014-02-11|        HR|         6|        3|           KIO|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         7|        4|           KPI|
|        4|   Amitabh|    Singh|500000|  2014-02-28|     Admin|         8|        4|           HRM|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|         9|        5| AO Management|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        10|        5|KPI Management|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        11|        5|         CRSIM|
|        5|     Vivek|    Bhati|500000|  2014-06-11|     Admin|        12|        5|       CRISP R|
|        6|     Vipul|    Diwan|200000|  2014-06-11|   Account|      NULL|     NULL|          NULL|
|        7|    Satish|    Kumar| 75000|  2014-02-19|   Account|        13|        7|  Carbon Print|
|        8|   Geetika|  Chauhan| 90000|  2014-04-11|     Admin|      NULL|     NULL|          NULL|
|        9|     Ashok|  chandra|200000|  2014-06-12|   Account|      NULL|     NULL|          NULL|
|       10|    Nitin |    Kumar| 15000|  2014-07-12|        HR|        14|       10|           CCI|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        15|       11|          SSCE|
|       11|   Pushkar|    Sinha| 90000|  2014-04-12|     Admin|        16|       11|        LAMBDA|
+---------+----------+---------+------+------------+----------+----------+---------+--------------+
only showing top 20 rows